.example-wrapper-top {
    width: 100%;
    background: #555;
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.7);

    padding: 9px 15px;
    font-size: 22px;
}

.example-wrapper-top h3 {
    color: #fff;
}